@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");

.App {
  font-family: "Manrope", sans-serif;
  text-align: center;
  color: #0459d9;
  background-color: #ffffff;
}

.loading-screen {
  color: rgb(100, 100, 100);
  justify-content: center;
}

img {
  max-width: 150px;
  border-radius: 25%;
}

.Header:hover {
  color: #92d764;
}

.category-buttons {
  color: #000000;
  border-radius: 5px;
  border-color: #000000;
  align-content: space-around;
  margin-left: 10px;
}

.category-buttons:hover {
  background-color: #1c7bff;
  color: #ffffff;
  border-radius: 5px;
  border-color: #000000;
  align-content: space-around;
}

.article-topic {
  font-size: 5px;
  font-style: italic;
  color: darkblue;
  align-content: end;
}

.article-topic:hover {
  color: rgb(163, 0, 0);
}
.article-title {
  font-size: 8px;
  border: black;
  color: inherit;
  text-decoration: inherit;
}

.article-title:hover {
  text-decoration: underline;
  color: blueviolet;
}

.article-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 5%;
}

.article-author {
  font-size: x-small;
  font-style: italic;
  text-align: inherit;
  color: darkblue;
}

.article-date {
  font-size: x-small;
  font-style: italic;
  color: darkblue;
  text-align: justify;
}

.article-card {
  justify-content: center;
  text-align: center;
}

.card-title {
  font-size: smaller;
}

.card-author {
  font-size: xx-small;
}

.card-topic {
  font-size: xx-small;
}

.article-body {
  font-size: xx-small;
  text-align: justify;
  justify-content: space-around;
}

li {
  list-style: none;
}
